@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500;1,700&display=swap");
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #469597, #5BA199, #BBC6C8, #DDBEAA);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}
body header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
body header #logo {
  grid-area: 1/1/2/2;
  align-items: center;
  width: 70%;
  height: auto;
}
body header h1 {
  text-align: center;
  grid-area: 1/2/2/3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10vw;
  text-decoration: none;
  position: relative;
}
body header h1:hover {
  color: #000;
  font-size: 10.5vw;
  transition: 0.5s ease;
}
body header h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5vw;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
body header h1:hover::before {
  transform: scaleX(1);
}
body header #add {
  background: none;
  border: none;
}
body header #add #cross {
  width: 12vw;
  height: auto;
  border-radius: 50%;
}
body header #add #cross:hover {
  width: 11vw;
  height: auto;
  transition: 0.5s;
  cursor: pointer;
}
body header #add #cross:active {
  background-color: #467e77;
}
body main .weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 30%;
  border: solid #BBC6C8 1vw;
  opacity: 0.8;
  margin: 5%;
  margin-bottom: 8%;
  padding: 4%;
  font-family: "Josefin Sans", sans-serif;
}
body main .weather .delete {
  grid-area: 1/2/2/3;
  width: 10vw;
  height: 10vw;
  position: relative;
  left: 85%;
  bottom: 25%;
  background-color: #E5E3E4;
  border-radius: 50%;
  box-shadow: -13px 13px 15px 5px #000000;
}
body main .weather .delete:hover {
  width: 11vw;
  height: 11vw;
  transition: 0.2s;
  background-color: #BBC6C8;
  cursor: pointer;
}
body main .weather .delete:active {
  background-color: #949d9e;
}
body main .weather .delete .imgDelete {
  width: 6vw;
  height: 6vw;
}
body main .weather h2 {
  grid-area: 1/1/2/2;
  font-size: 8vw;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: -10%;
}
body main .weather h2:hover {
  font-size: 8.5vw;
  transition: 0.5s;
}
body main .weather .tempToday {
  grid-area: 2/1/3/2;
  font-size: 7vw;
  margin-top: 5%;
  margin-left: 10%;
  padding-right: 25%;
  text-align: center;
}
body main .weather .tempToday:hover {
  font-size: 7.5vw;
  transition: 0.5s;
}
body main .weather .tempToday .logotemp {
  margin-top: auto;
  margin-left: 10%;
  width: 30%;
  height: auto;
}
body main .weather .tempToday .logotemp:hover {
  width: 33%;
  height: auto;
  transition: 0.5s;
}
body main .weather .alltemp {
  grid-area: 1/2/3/3;
  font-size: 6vw;
  margin-top: 10%;
}
body main .weather .alltemp:hover {
  margin-top: 5%;
  font-size: 6.5vw;
  transition: 0.5s;
}
body main .weather:hover {
  opacity: 1;
  margin: 2%;
  transition: 0.8s;
}/*# sourceMappingURL=style.css.map */